/* {
    border: 1px solid red;
} */

table {
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.difficulty {
    font-size: 20px;
}

td {
    width: calc(100vh/14);
    height: calc(100vh/14);
    text-align: center;
    font-size: calc(100vh/22);
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

.grid:nth-child(3), .grid:nth-child(6) {
    border-right: 3px solid black;
}

tr:nth-child(3), tr:nth-child(6) {
    border-bottom: 3px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    height: 35px;
    width: 175px;
    font-size: 20px;
}

.selected {
    background-color: #E0E0E0;
}
