/* {
    border: 1px solid red;
} */

body {
    background-image: url("https://images.unsplash.com/photo-1619252584172-a83a949b6efd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

table {
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

.grid {
    color: #325AAF;
    background-color: rgba(255, 255, 255, 0.4);
}

.difficulty {
    font-size: 20px;
}

td {
    width: calc(100vh/14);
    height: calc(100vh/14);
    text-align: center;
    font-size: calc(100vh/22);
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

.grid:nth-child(3), .grid:nth-child(6) {
    border-right: 3px solid black;
}

tr:nth-child(3), tr:nth-child(6) {
    border-bottom: 3px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    height: 35px;
    width: 175px;
    font-size: 20px;
}

.selector {
    background-color: rgba(255, 255, 255, 0.4);
}

.selected {
    background-color: #E0E0E0;
}

.starting-number {
    color: black;
}

.error {
    color: #E55C6C;
    background-color: #BBDEFB;
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

